{% extends 'main.html' %} {% block content %} {% if page == 'register' %}

<form method="post" action="{% url 'register' %}">
  {% csrf_token %} {{ form.as_p }}
  <input type="submit" value="Register User" />
  <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</form>

{% else %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Enter password" />
  <input type="submit" value="Login" />
  <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
</form>

{% endif %} {% endblock content %}
